@import "../../config";

.footerContainer {
    height: 4.8vh;
    background-color: $primaryColor;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    
    .footerInner {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1%;
    }

    .fontColor {
        color: $fontColor;
    }
}
